@charset "utf-8";

html {
	height:100%;
	max-height:100%;
	padding:0;
	margin:0;
	border:0;
}
body{
	height:100%;
	border:0;
	font-family:Candara;
	text-align:left;
	font-size:50%;
	color:#1c1c1c;
	background:url(../pic/img2.jpg)left top repeat-x;
}
.clear{
	clear:both;
}
.MovieContainer{
	width: 1100px;
	margin: 0 auto;
}
.MovieHolder{
	width: 900px;
	height: 200px;
	border-style: outset;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 10px;
}
.Thumb{
	width: 140px;
	float: left;
	background-color: #57C6F4;
	height: 200px;
	border-radius: 20px 0 0 20px;
}
.Title{
	width: 760px;
	float: left;
	background-color: #0A9EDB;
	height: 200px;
	font-family: Candara;
	color: white;
	border-radius: 0 15px 15px 0;
}
.Year{
	width: 185px;
	float: left;
	height: 200px;
	background-color: #57C6F4;
	font-family: Candara;
	color: white;
	border-radius: 0 20px 20px 0;
}
.MovieHolder img{
	height: 90px;
    margin: 0 auto;
    padding: 46px 32px 32px;
    width: 60px;
}
.MovieTitle{
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
}
.synopsis{
	font-size: 14px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 500px;
}
.year p{
	font-family: Candara;
	font-size: 24px;
	color: white;
	padding: 74px 35px 35px;	
}
#result{
	width: 1000px;	
}
#result1{
	width: 700px;
	float: left;
	font-size: 25px;
	font-family: Candara;
}
#result2{
	width: 300px;
	float: left;
	font-size: 25px;
	font-family: Candara;
}
#movie{
	font-family: Candara;
    font-size: 30px;
    font-style: italic;
    height: 35px;
    text-align: left;
    width: 820px;
}
#send{
	margin-top: -10px;
}
